astroid
attrs
backcall
bleach
boto3
botocore
certifi
chardet
Click
decorator
defusedxml
docutils==0.14
entrypoints
Flask
flask_ngrok
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
lazy-object-proxy
MarkupSafe
mccabe
mistune
mkl-fft
mkl-random
more-itertools
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pylint
pyrsistent
python-dateutil
pytorch-transformers
pytz
pyzmq
qtconsole
regex
requests
s3transfer
sacremoses
scikit-learn
scipy
Send2Trash
sentencepiece
six
sklearn
terminado
testpath
# http://download.pytorch.org/whl/cpu/torch-1.2.0%2Bcpu-cp36-cp36m-manylinux1_x86_64.whl
tornado
tqdm
traitlets
transformers
typed-ast
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt==1.11.*
zipp
azure
konlpy
